.gif-container{
  background-color: #E7E7E7;
  width: 100%;
  padding-top: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dark .gif-container{
  background-color: #212121;
}


